
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Jumbotron Template for Bootstrap</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/custom.css" />

  </head>

  <body>

    <% include ./parts/navbar %>


      <%- body -%>


<% include ./parts/footer %>
<% include ./parts/javascriptonly %>
  </body>
</html>
