<% layout('layout') -%>


<div class="jumbotron" id="navbar-gap">
  <div class="container">
  <h1><b> Shop Smart , Save Big</b></h1>
    <p> Starting point to create something unique</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">

      <h3>Start your search here</h3>
      <p> Signup to start Buying</p>

    </div>
    <div class="col-md-4">

      <h3>Build a smart cart</h3>
      <p>The more smart you buy , the more you save</p>

   </div>
    <div class="col-md-4">
      <h3>Look for smart items</h3>
      <p>Add to your cart</p>
    </div>
  </div>
